<div id="chat-container">
    <div id="message-container"></div>
    <form id="messageForm">
        <textarea cols="30" rows="5" placeholder="Mensaje" id="message"></textarea>
        <input type="submit" value="Enviar">
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>