<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/{{style}}">
</head>

<body>

    <nav>
        <a href="/">Todos los productos</a>
        <a href="/realtimeproducts">Añadir / Eliminar Producto</a>
    </nav>

    {{{body}}}

</body>

</html>